<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="ZachetStudentsEntities" connectionString="metadata=res://*/DataBase.DBZachetStudents.csdl|res://*/DataBase.DBZachetStudents.ssdl|res://*/DataBase.DBZachetStudents.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gogs.kp11.ru;initial catalog=ZachetStudents;user id=grishin_lv;password=DdtlbntGfhjkmLkz&lt;L;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>